PROJECT_ID=schwab-assessment-gke
BILLING_ACCOUNT_ID=000000-000000-000000
ADMIN_CIDR=203.0.113.10/32
GCLOUD_CONFIGURATION=schwab-assessment
DOMAIN_NAME=
ENABLE_CLOUD_ARMOR=0
ENABLE_BINARY_AUTHORIZATION=0
